h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 2em;
}
body {
  margin: 2em; 
}
body, input[text], button { 
  color: #FFFFFF;
  background-color: #AAF0AA;
  font-family: Cambria, Georgia;
  font-weight: bold;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #88BB88;
  border: none;
  min-width: 6em;
  height: 4em;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #00BB00;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
/* everywhere else */
* { 
  font-family: Arial, Helvetica, sans-serif; 
}
