nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  border-radius: 4px;
  width: 25%;
  color: #FFFFFF;
}
nav a:visited, a:link {
  background-color: #00AA00;
}
nav a:hover {
  background-color: #AAFFAA;
}
nav a.router-link-active {
  background-color: #00FF00;
}
