    <h1>{{title}}</h1>
    <h2>Moje kontakty</h2>
    <div>
        <label>numer: </label>
        <input [ngFormControl]="searchNumber" placeholder="number" />

    </div>
    <ul class="contacts">
        <li *ngFor="let contact of contacts"
            [class.selected]="contact === selectedContact"
            (click)="onSelect(contact)">
            {{contact.name}} {{contact.surname}}
        </li>
    </ul>
    <div *ngIf="selectedContact">
        <div class="data-line">Imię: {{selectedContact.name}}</div>
        <div class="data-line">Nazwisko: {{selectedContact.surname}}</div>
        <div class="data-line">E-mail: {{selectedContact.email}}</div>
        <div class="data-line">Numer tel.: {{selectedContact.callNumber}}</div>
        <button (click)="gotoDetail()">Edycja</button>
        <button (click)="delete()">Usuń</button>
    </div>